@import "../node_modules/bootstrap/scss/bootstrap";

#_content {
  @extend .container
}

[role="alert-info"] {
  @extend .alert;
  @extend .alert-primary
}

[role="alert-warning"] {
  @extend .alert;
  @extend .alert-warning
}

[role="alert-error"] {
  @extend .alert;
  @extend .alert-danger;
}

[role="close-alert"] {
  @extend .close
}

[role="form-group"] {
  @extend .form-group
}

[role="form-submit-button"] {
  @extend .btn;
  @extend .btn-primary;
}

[role="form-cancel-button"] {
  @extend .btn;
  @extend .btn-outline-primary;
}

[role="text-input"] {
  @extend .form-control
}

[role="number-input"] {
  @extend .form-control
}

[role="text-input-helptext"] {
  @extend .form-text;
  @extend .text-muted;
}

[role="list-containier"] {
  @extend .card
}

[role="form-container"] {
  @extend .card
}

[role="toolbar"] {

}

[role="pager"] {
  @extend .pagination
}

[role="pager-next"] {
  @extend .page-item
}

[role="pager-previous"] {
  @extend .page-item
}

[role="search"] {
  @extend .form-group
}

[role="search-input"] {
  @extend .form-control
}

[role="search-button"] {
  @extend .btn;
  @extend .btn-primary;
}

.center-box {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:99;
  margin:auto;
  height:600px;
  width:800px;
  border:1px solid #000;
  text-align:center;
  line-height:200px;
}

[role="nav-wrapper"] {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-light;
  @extend .bg-light
}

[role="nav-wrapper"] .a {
  @extend .navbar-brand
}

[role="nav-menu"] {
  @extend .collapse;
  @extend .navbar-collapse
}

[role="nav-menu"] ul {
  @extend .navbar-nav;
  @extend .mr-auto;
  @extend .mt-2;
  @extend .mt-lg-0;
}

[role="nav-item-active"] {
  @extend .nav-item;
  @extend .active
}

[role="nav-item-inactive"] {
  @extend .nav-item;
}

[role="nav-button"] {
  @extend .nav-link;

}