@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: whitesmoke;
}
#_content {
  @extend .container;
  margin-top: 20px;
}

input:focus {
  outline : none;
}

[role="alert-info"] {
  @extend .alert;
  @extend .alert-primary
}

[role="alert-warning"] {
  @extend .alert;
  @extend .alert-warning
}

[role="alert-error"] {
  @extend .alert;
  @extend .alert-danger;
}

[role="close-alert"] {
  @extend .close
}

[role="form-group"] {
  @extend .form-group
}

[role="form-submit-button"] {
  @extend .btn;
  @extend .btn-primary;
}

[role="form-cancel-button"] {
  @extend .btn;
  @extend .btn-outline-primary;
}

[role="text-input"] {
  @extend .form-control;
  @extend .form-control-sm
}

[role="number-input"] {
  @extend .form-control;
  @extend .form-control-sm

}

[role="text-input-helptext"] {
  @extend .form-text;
  @extend .text-muted;
}

[role="list-containier"] {
  @extend .card
}

[role="form-container"] {
  @extend .card
}

[role="toolbar"] {

}

[role="list_pager"] {
  @extend .mx-auto
}

[role="pager"] {
  @extend .pagination;
}

[role="pager-next"] {
  @extend .page-item
}

[role="pager-previous"] {
  @extend .page-item
}

[role="search"] {
  @extend .form-group
}

[role="search-input"] {
  border : none;
  box-shadow:none;
}

.center-box {
  @extend .col-md-6 ;
  @extend .mx-auto
}

[role="nav-wrapper"] {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-dark;
  @extend .bg-dark;
}

[role="nav-wrapper"] .a {
  @extend .navbar-brand
}

[role="nav-menu"] {
  @extend .collapse;
  @extend .navbar-collapse
}

[role="nav-menu"] ul {
  @extend .navbar-nav;
  @extend .mr-auto;
  @extend .mt-2;
  @extend .mt-lg-0;
}

[role="nav-item-active"] {
  @extend .nav-item;
  @extend .active
}

[role="nav-item-inactive"] {
  @extend .nav-item;
}

[role="nav-button"] {
  @extend .nav-link;

}

.pad-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

[role="page-next"] {
  @extend .btn;
  @extend .btn-light
}

[role="page-previous"] {
  @extend .btn;
  @extend .btn-light
}

[role="search-wrapper"] {
  @extend .input-group;
}

[role="search-input"] {
  @extend .form-control;
  border : none;
}

[role="search-button"] {
  @extend .input-group-append;
}

[role="search-button"] button {
  @extend .btn;
  @extend .btn-outline-secondary;
}

[role="list-container"] {
  @extend .card;
  @extend .card-body;
}

[role="list_toolbar"] {
  @extend .border-bottom;
  @extend .pad-1
}

[role="list_searcher"] {
  @extend .pad-1;

}

[role="list_rows"] {
  @extend .row;
  @extend .border-bottom;
  @extend .pad-1;
  padding-left: 1em;
  padding-right: 1em;

}

[role="list_pager"] {
  @extend .pad-1

}

